.card{
    margin: 40px;
    width: 627px;
    height: 360px;
    overflow-y: hidden;
    background: rgba(70, 70, 95, 0.4);
    backdrop-filter: blur(5 px);
    border-radius: 30px;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    transition: width 0.3s;
}

.card-image{
    height: 360px;
    width: 250px;
    overflow-x: hidden;
}

.hidden.card-image{
    border-radius: 30px;
}

.hidden.content-section{
    display: none;
    color: transparent;
    font-size: 0px;
}

.hidden{
    background: transparent;
    width: 250px;
}

.content-section{
    color: white;
    font-size: 20px;
    padding: 15px;
    font-family: serif;
    transform: color 0.3s ;
}

