.Signupline1 {
    position: absolute;
    width: 140px;
    height: 0px;
    left: 15px;
    top: 455px;
    border: 1px solid #FFFFFF;
}

.Signup_popup h1 {
    color: #FFFFFF;
    text-align: center;
}

.Signupline2 {
    position: absolute;
    width: 140px;
    height: 0px;
    left: 180px;
    top: 455px;
    border: 1px solid #FFFFFF;
}

.st {
    text-align: center;
    color: white;
    font-size: 12px;
    position: relative;
    top: -2%;
    text-decoration: none;
}

.st2 {
    text-align: center;
    color: #FFFFFF;
    font-size: 12px;
    text-decoration: none;
}

.st2 a {
    color: #FFFFFF;
    text-decoration: none;
}

.Signup_popup {
    margin: 0;
    position: fixed;
    width: 300px;
    height: 500px;
    left: 50%;
    right: 50%;
    top: 10%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    transition: all 0.7s;
    background: linear-gradient(155.79deg, rgba(255, 255, 255, 0.24) 0%, rgba(255, 255, 255, 0.03) 98.31%);
    backdrop-filter: blur(25px);
    border-radius: 30px;
}

.sip {
    border: none;
    border-bottom: 1px solid gray;
    padding: 5px 10px;
    outline: none;
    background: none;
}

.Signup_popbtn {
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    border: none;
    width: 200px;
    text-align: center;
    justify-content: center;
    align-items: center;
    transform: translate(25%);
    border-radius: 100px;
    color: rgba(221, 25, 126, 255);
    left: 450px;
}

.txt {
    text-align: center;
    color: white;
}

.ell1 {
    position: absolute;
    width: 752px;
    height: 752px;
    left: 776px;
    top: -173px;
    background: rgba(221, 25, 126, 0.4);
    filter: blur(80px);
    border-radius: 100%;
}

.ell2 {
    position: absolute;
    width: 709px;
    height: 709px;
    left: -90px;
    top: 393px;
    background: #170A47;
    filter: blur(80px);
    border-radius: 100%;
}